/*BEGIN NES Controller Styling*/
.controller.nes {
    background: url(base3.png);
    width: 832px;
    height: 391px;
    /*    margin-left: -416px;
        margin-top: -175px;*/
}

.nes .quadrant {
    font-family: 'Press Start 2P', cursive;
    font-size: 16pt;
    color: #DCD6D3;
    position: absolute;
    height: 17px;
    width: 180px;
    top: 90px;
    left: 50px;
    text-align: center;
}

.nes .back, .nes .start {
    background: url(menu1.png);
    width: 73px;
    height: 20px;
}

.nes .button {
    position: absolute;
    width: 74px;
    height: 74px;
    background: url(buttons1.png);
    top: 0;
}

.nes .button.pressed {
    background-position-y: -77px;
    margin-top: 5px;
}

.nes .a {
    right: 0;
    bottom: 20px;		
}

.nes .b {
    left: 0px;
}


/*END NES Controller Styling*/